<!DOCTYPE HTML>
{%  load staticfiles %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>{{ eventdata.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static "website/css/main.css" %}"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        		<!-- Scripts -->
			<script src="{% static "website/js/jquery.min.js" %}"></script>
			<script src="{% static "website/js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "website/js/jquery.scrolly.min.js" %}"></script>
			<script src="{% static "website/js/skel.min.js" %}"></script>
			<script src="{% static "website/js/util.js" %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js" %}"></script><![endif]-->
			<script src="{% static "website/js/main.js" %}"></script>
			<script src="{%  static "website/js/save.js" %}"></script>
	</head>
    <!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

	<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<!-- Page Wrapper -->
			<div id="page-wrapper">


		{% include "website/header.html" %}

				<!-- Main -->
					<article id="main">
						<header>
							<h2>{{ eventdata.title }}</h2>
							{% if eventdata.description %} <p>{{ eventdata.description }}</p> {% endif %}
						</header>
						<section class="wrapper style5">
							<div class="inner" style="text-align: center">
                                {% if eventdata.location %}<h4>Location: {{ eventdata.location }}</h4>{% endif %}

                                <h4>Starts:  {{ eventdata.startdate }}  &nbsp; {% if eventdata.allday == "false" %} {{ eventdata.starttime }}  {% endif %}</h4>

                                <h4>Ends: {{ eventdata.enddate }}   &nbsp; {% if eventdata.allday == "false" %} {{ eventdata.endtime }} {% endif %}</h4>

							</div>
						</section>
					</article>

                <!-- QRCODE JQUERY-->
                <script type="text/javascript" src="{% static "website/js/jquery.qrcode-0.12.0.js" %}"></script>
                <script type="text/javascript" src="{% static "website/js/jquery.qrcode-0.12.0.min.js" %}"></script>

            <div id="result" style="text-align: center; background-color: #ff5c61" >

                <h3 id="resulth">Event link and QR code:</h3>
                <br/>
                <center>
                <input type="text" id ="linkaddress" name="linkaddress" size="40" style="text-align: center" readonly>
                <br/>
                <button id="copylink" onClick="linkcopy()">Double Click To Copy</button>

                <br/><br/><br>

                <div id="qrcode"></div>
                <br/>

                <a class= "downloadqrcode button" href="#" onclick="prepHref(this)" download>Download QR Code</a>
                </center><br>
                <p id="resultp">Share the link and QR Code generated with others to allow them to save this event to their calendars automatically by opening the link with EVENTual or scanning the QR Code using EVENTual QR Code Scanner.</p>
            </div>
                <script>

                       $(document).ready(function() {
                           var seq = "~!#";
                           $(qrcode).empty();
                           $(qrcode).qrcode({
                               "size": 300,
                               "color": "#3a3",
                               "render": "image",
                               "background": "white", 
                               {% if eventdata.allday == "false" %}
                               "text": "EVENTualQR" + seq + "{{ eventdata.title }}" +seq + "{{ eventdata.description }}" +seq + String("{{ eventdata.allday }}") + seq + "{{ eventdata.startdate|date:'d/m/Y' }}" + " " + "{{ eventdata.starttime|date:'H:i' }}" +seq + "{{ eventdata.enddate|date:'d/m/Y' }}" + " " + "{{ eventdata.endtime|date:'H:i' }}" + seq + "{{ eventdata.location }}" +seq + "{{ eventdata.private }}"
                               {% else %}
                               "text": "EVENTualQR" + seq + "{{ eventdata.title }}" +seq + "{{ eventdata.description }}" +seq + String("{{ eventdata.allday }}") + seq + "{{ eventdata.startdate|date:'d/m/Y' }}" +seq + "{{ eventdata.enddate|date:'d/m/Y' }}" + seq + "{{ eventdata.location }}" +seq + "{{ eventdata.private }}"
                               {% endif %}
                           });
                           document.getElementById("linkaddress").value = "www.wncc-iitb.org:8000/event/" + "{{ eventdata.id }}";
                       });

                       var qrcodedownload = "{{eventdata.title}}" + ".png";
                </script>
            <div style="line-height: 0.8em; margin: 0 auto; width: 250px;">
                <div  class="fb-share-button" data-href="http://wncc-iitb.org:8000/event/{{ eventdata.id }}" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwncc-iitb.org%3A8000%2Fevent%2F{{ eventdata.id }}&amp;src=sdkpreparse">Share</a></div>

              <button class="g-plus" id="google-share" style="visibility: hidden;" data-action="share" data-annotation="bubble" data-href="http://wncc-iitb.org:8000/event/{{ eventdata.id }}"></button>

             <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="EVENTual">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <br/><br/>

            </div>

                {% include "website/footer.html" %}

			</div>



	</body>
</html>