<!-- Footer -->
{% load staticfiles %}
<footer id="footer">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
	</ul>
           <a href='https://play.google.com/store/apps/details?id=com.nihal.arpan.eventual&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="242" height="85" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
</footer>