<!DOCTYPE HTML>
{% load staticfiles %} 
<html>
	<head>
		<title>EVENTual</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static "website/js/ie/html5shiv.js" %}"></script><![endif]-->
		<link rel="stylesheet" href="{%  static "website/css/main.css" %}" type = "text/css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "website/css/ie8.css" %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static "website/css/ie9.css" %}" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				{% include "website/header.html" %}

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
                            <img src="{% static "website/images/logo.jpg" %}" height="150" width="150"><br><br>
							<h2>EVENTual</h2>
							<p>A new way to <br/>create and share events <br/>instantly</p>
							<ul class="actions">
       <a href='https://play.google.com/store/apps/details?id=com.nihal.arpan.eventual&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="242" height="85" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
								<br><li><a href="#cta" class="button special">Get Started</a></li>
							</ul>
						</div><br><br><br>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>CREATING AND SHARING EVENTS <br/>HAS NEVER BEEN EASIER</h2>
								<p>No more painstakingly filling or remembering event details. Save events to your default calendar with one tap. Fill out the details and get a sharable link and QR code. Use our android app to directly add that event to your default calendar by opening the sharable link or scanning the QR code.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-calendar major style1"><span class="label">event</span></span></li>
								<li><span class="icon fa-pencil-square-o major style4"><span class="label">form</span></span></li>
								<li><span class="icon fa-share-alt major style2"><span class="label">share</span></span></li>
								<li><span class="icon fa-mobile major style3"><span class="label">view</span></span></li>
								<li><span class="icon fa-qrcode major style5"><span class="label">qrcode</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="{% static "website/images/createevent.jpg" %}" alt="" /></div><div class="content">
								<h2>Create an Event</h2>
								<p>Going to the movies tomorrow? Or is it a friend's birthday? Find an event you want to share and use our simple <a href="/create">web interface</a> or the android application to create the event by filling out event details like timings, location and description.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{% static "website/images/shareevent.jpg" %}" alt="" /></div><div class="content">
								<h2>Share the Event</h2>
								<p>Click on "Save" and get your Event link and QR Code. Share the link amongst friends. Anybody having the android app can open the link using our app and save it to their default calendar instantly. The event link can also be opened in a browser and later added to Google Calendar.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{% static "website/images/qrcode.jpg" %}" alt="" /></div><div class="content">
								<h2>QR Code</h2>
								<p>If the event is big, you can just add a small sized QR code at a corner of the event poster or invitation. Anybody having our app can scan it and save the event to their default calendar. Download the QR Code if you are using the web interface. If you are using the app, the QR Code can be saved to a desired location on your phone after the event is created.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Features and Advantages</h2>
								<p>Using EVENTual helps you and people around you to keep track easily.</p>
							</header>
							<ul class="features">
								<li class="icon fa-clock-o">
									<h3>Save time</h3>
									<p>People are often reluctant to save events in their calendar due to the effort required to type down every single detail regarding the event.</p>
								</li>
								<li class="icon fa-share-alt">
									<h3>Sharable Links</h3>
									<p>Using EVENTual, only one person has to fill in the details and share the link. Every one else can just save it with the click of a button. These links can also be shared on facebook event pages, google forms etc.</p>
								</li>
								<li class="icon fa-qrcode">
									<h3>QR Code</h3>
									<p>QR codes can be easily generated and shared after an event has been created. These can be added to the corner of a poster or at the bottom of an invitation.</p>
								</li>
								<li class="icon fa-mobile">
									<h3>Scan and Save</h3>
									<p>Using the app, the QR Code generated can be scanned and saved to the device's default calendar instantly.</p>
								</li>
								<li class="icon fa-search">
									<h3>Search Events</h3>
									<p>Any public event can be searched for by filtering according to fields like title location and timing. One can also search for all events created by oneself using the app.</p>
								</li>
								<li class="icon fa-lock">
									<h3>Privacy</h3>
									<p>Marking an event as private would hide it from all searches. Only the person who created it can see it under "My Events" and only people having the link can view it.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Stay punctual with EVENTual</h2>
								<p>EVENTual is easy to use. Get Started by creating and sharing your first event.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="/create" class="button fit special">Create Event</a></li>
								<li><a href="/search" class="button fit">Search Event</a></li>
							</ul>
						</div>
					</section>

				{% include "website/footer.html" %}

			</div>

		<!-- Scripts -->
			<script src="{% static "website/js/jquery.min.js" %}"></script>
			<script src="{% static "website/js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "website/js/jquery.scrolly.min.js" %}"></script>
			<script src="{% static "website/js/skel.min.js" %}"></script>
			<script src="{% static "website/js/util.js" %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js" %}"></script><![endif]-->
			<script src="{% static "website/js/main.js" %}"></script>

	</body>
</html>