@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

.creditly-wrapper {
    background:rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: white;
}
.creditly-wrapper .credit-card-wrapper {
    padding: 30px 30px;
    box-shadow: 0px 0px 12px 0px #040404;
}
.creditly-wrapper input.has-error {
  outline: none;
  border-color: #ff7076;
  border-top-color: #ff5c61;

}
.creditly-wrapper .form-control {
    display: block;
    width: 94%;
    padding: 12px 12px;
    font-size: 14px;
    color: #FFF !important;
    background: rgba(0, 0, 0, 0.43);
    border: 1px solid #ccc;
    margin-bottom: 25px;
}
.creditly-wrapper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.creditly-wrapper label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    color:#FFFFFF;
    font-size: 15px;
}
.creditly-wrapper .form-group {
  width: 100%;
  display: table;
}
.creditly-wrapper .card-type {
  margin-top: 10px;
}
.creditly-card-form .submit {
  overflow: hidden;
  display: inline-block;
  visibility: visible!important;
  -webkit-font-smoothing: antialiased;
  border: none;
  padding: 1px;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.creditly-card-form .submit span {
    display: block;
    position: relative;
    padding: 9px 23px;
    background: #B37B13;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.creditly-card-form .submit span:hover{
	background: #1F76D2;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  label {
    color: #fff;
  }

  .dataTables_info {
    color: #fff !important;
  }

  

/* Box Model */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }



/* Icon */

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

    .icon.major {
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-radius: 3px;
      border: solid 2px #fff;
      display: inline-block;
      font-size: 1.35em;
      height: calc(3em + 2px);
      line-height: 3em;
      text-align: center;
      width: calc(3em + 2px);
    }

      .icon.major:before {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        font-size: 1.5em;
      }

      @media screen and (max-width: 736px) {

        .icon.major {
          font-size: 1em;
        }

      }

    .icon.style1 {
      color: #66FF00;
    }

    .icon.style2 {
      color: #00f0ff;
    }

    .icon.style3 {
      color: #8B008B;
    }

    .icon.style4 {
      color: #002E63;
    }

    .icon.style5 {
      color: #000000;
    }

/* Image */

  .image {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    position: relative;
  }

    .image img {
      border-radius: 3px;
      display: block;
    }

    .image.left {
      float: left;
      margin: 0 2em 2em 0;
      top: 0.25em;
    }

    .image.right {
      float: right;
      margin: 0 0 2em 2em;
      top: 0.25em;
    }

    .image.left, .image.right {
      max-width: 40%;
    }

      .image.left img, .image.right img {
        width: 100%;
      }

    .image.fit {
      display: block;
      margin: 0 0 2em 0;
      width: 100%;
    }

      .image.fit img {
        width: 100%;
      }

/* List */

  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
  }

    ol li {
      padding-left: 0.25em;
    }

  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

    ul li {
      padding-left: 0.5em;
    }

    ul.alt {
      list-style: none;
      padding-left: 0;
    }

      ul.alt li {
        border-top: solid 1px #fff;
        padding: 0.5em 0;
      }

        ul.alt li:first-child {
          border-top: 0;
          padding-top: 0;
        }

    ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
      }

        ul.icons li:last-child {
          padding-right: 0 !important;
        }

      ul.icons.major {
        padding: 1em 0;
      }

        ul.icons.major li {
          padding-right: 3.5em;
        }

          @media screen and (max-width: 736px) {

            ul.icons.major li {
              padding: 0 1em !important;
            }

          }

    ul.actions {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.actions li {
        display: inline-block;
        padding: 0 1.5em 0 0;
        vertical-align: middle;
      }

        ul.actions li:last-child {
          padding-right: 0;
        }

      ul.actions.small li {
        padding: 0 0.75em 0 0;
      }

      ul.actions.vertical li {
        display: block;
        padding: 1.5em 0 0 0;
      }

        ul.actions.vertical li:first-child {
          padding-top: 0;
        }

        ul.actions.vertical li > * {
          margin-bottom: 0;
        }

      ul.actions.vertical.small li {
        padding: 0.75em 0 0 0;
      }

        ul.actions.vertical.small li:first-child {
          padding-top: 0;
        }

      ul.actions.fit {
        display: table;
        margin-left: -1.5em;
        padding: 0;
        table-layout: fixed;
        width: calc(100% + 1.5em);
      }

        ul.actions.fit li {
          display: table-cell;
          padding: 0 0 0 1.5em;
        }

          ul.actions.fit li > * {
            margin-bottom: 0;
          }

        ul.actions.fit.small {
          margin-left: -0.75em;
          width: calc(100% + 0.75em);
        }

          ul.actions.fit.small li {
            padding: 0 0 0 0.75em;
          }

      @media screen and (max-width: 736px) {

        ul.actions li {
          display: block;
          padding: 1em 0 0 0;
          text-align: center;
          width: 100%;
        }

          ul.actions li:first-child {
            padding-top: 0;
          }

          ul.actions li > * {
            margin: 0 auto !important;
            max-width: 30em;
            width: 100%;
          }

            ul.actions li > *.icon:before {
              margin-left: -1em;
            }

        ul.actions.small li {
          padding: 0.5em 0 0 0;
        }

          ul.actions.small li:first-child {
            padding-top: 0;
          }

      }

  dl {
    margin: 0 0 2em 0;
  }

/* Table */

  .table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }

  table {
    margin: 0 0 2em 0;
    width: 100%;
  }

    table tbody tr {
      border: solid 1px #fff;
      border-left: 0;
      border-right: 0;
    }

      table tbody tr:nth-child(2n + 1) {
        background-color: rgba(144, 144, 144, 0.25);
      }

    table td {
      padding: 0.75em 0.75em;
    }

    table th {
      color: #fff;
      font-size: 0.9em;
      font-weight: 600;
      padding: 0 0.75em 0.75em 0.75em;
      text-align: left;
    }

    table thead {
      border-bottom: solid 2px #fff;
    }

    table tfoot {
      border-top: solid 2px #fff;
    }

    table.alt {
      border-collapse: separate;
    }

      table.alt tbody tr td {
        border: solid 1px #fff;
        border-left-width: 0;
        border-top-width: 0;
      }

        table.alt tbody tr td:first-child {
          border-left-width: 1px;
        }

      table.alt tbody tr:first-child td {
        border-top-width: 1px;
      }

      table.alt thead {
        border-bottom: 0;
      }

      table.alt tfoot {
        border-top: 0;
      }


/* Page Wrapper + Menu */

  #page-wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
    padding-top: 3em;
  }

    #page-wrapper:before {
      background: transparent;
      content: '';
      display: block;
      display: none;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10001;
    }

  #menu {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    background: #21b2a6;
    color: #ffffff;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    width: 20em;
    z-index: 10002;
  }

    #menu ul {
      list-style: none;
      padding: 0;
      line-height: 1.65em;
    }

      #menu ul > li {
        border-top: solid 1px rgba(0, 0, 0, 0.125);
        margin: 0.5em 0 0 0;
        padding: 0.5em 0 0 0;
      }

        #menu ul > li:first-child {
          border-top: 0 !important;
          margin-top: 0 !important;
          padding-top: 0 !important;
        }

        #menu ul > li > a {
          border: 0;
          color: inherit;
          display: block;
          font-size: 0.8em;
          letter-spacing: 0.225em;
          outline: 0;
          text-decoration: none;
          text-transform: uppercase;
        }

          @media screen and (max-width: 736px) {

            #menu ul > li > a {
              line-height: 3em;
            }

          }

    #menu .close {
      background-image: url("images/close.svg");
      background-position: 4.85em 1em;
      background-repeat: no-repeat;
      border: 0;
      cursor: pointer;
      display: block;
      height: 3em;
      position: absolute;
      right: 0;
      top: 0;
      vertical-align: middle;
      width: 7em;
    }

    @media screen and (max-width: 736px) {

      #menu {
        padding: 3em 1.5em;
      }

    }

  body.is-menu-visible #page-wrapper {
    opacity: 0.35;
  }

    body.is-menu-visible #page-wrapper:before {
      display: block;
    }

  body.is-menu-visible #menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

/* Header */

  #header {
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background: #2e3842;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

    #header h1 {
      -moz-transition: opacity 0.2s ease;
      -webkit-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      height: inherit;
      left: 1.25em;
      line-height: inherit;
      position: absolute;
      top: 0;
    }

      #header h1 a {
        border: 0;
        display: block;
        height: inherit;
        line-height: inherit;
      }

        @media screen and (max-width: 736px) {

          #header h1 a {
            font-size: 0.8em;
          }

        }

    #header nav {
      height: inherit;
      line-height: inherit;
      position: absolute;
      right: 0;
      top: 0;
    }

      #header nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }

        #header nav > ul > li {
          display: inline-block;
          padding: 0;
        }

          #header nav > ul > li > a {
            border: 0;
            color: #fff;
            display: block;
            font-size: 0.8em;
            letter-spacing: 0.225em;
            padding: 0 1.5em;
            text-transform: uppercase;
          }

            #header nav > ul > li > a.menuToggle {
              outline: 0;
              position: relative;
            }

              #header nav > ul > li > a.menuToggle:after {
                background-image: url("images/bars.svg");
                background-position: right center;
                background-repeat: no-repeat;
                content: '';
                display: inline-block;
                height: 3.75em;
                vertical-align: top;
                width: 2em;
              }

              @media screen and (max-width: 736px) {

                #header nav > ul > li > a.menuToggle {
                  padding: 0 1.5em;
                }

                  #header nav > ul > li > a.menuToggle span {
                    display: none;
                  }

              }

            @media screen and (max-width: 736px) {

              #header nav > ul > li > a {
                padding: 0 0 0 1.5em;
              }

            }

          #header nav > ul > li:first-child {
            margin-left: 0;
          }

    #header.alt {
      background: transparent;
    }

      #header.alt h1 {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0;
      }

/* Banner */

  #banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

    #banner h2 {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      display: inline-block;
      font-size: 1.75em;
      opacity: 1;
      padding: 0.35em 1em;
      position: relative;
      z-index: 1;
    }

      #banner h2:before, #banner h2:after {
        -moz-transition: width 0.85s ease;
        -webkit-transition: width 0.85s ease;
        -ms-transition: width 0.85s ease;
        transition: width 0.85s ease;
        -moz-transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
        -ms-transition-delay: 0.25s;
        transition-delay: 0.25s;
        background: #fff;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
      }

      #banner h2:before {
        top: 0;
        left: 0;
      }

      #banner h2:after {
        bottom: 0;
        right: 0;
      }

    #banner p {
      letter-spacing: 0.225em;
      text-transform: uppercase;
    }

      #banner p a {
        color: inherit;
      }

    #banner .more {
      -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
      -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
      -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
      transition: transform 0.75s ease, opacity 0.75s ease;
      -moz-transition-delay: 3.5s;
      -webkit-transition-delay: 3.5s;
      -ms-transition-delay: 3.5s;
      transition-delay: 3.5s;
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      border: none;
      bottom: 0;
      color: inherit;
      font-size: 0.8em;
      height: 8.5em;
      left: 50%;
      letter-spacing: 0.225em;
      margin-left: -8.5em;
      opacity: 1;
      outline: 0;
      padding-left: 0.225em;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 16em;
      z-index: 1;
    }

      #banner .more:after {
        background-image: url("images/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 4em;
        content: '';
        display: block;
        height: 1.5em;
        left: 50%;
        margin: 0 0 0 -0.75em;
        position: absolute;
        width: 1.5em;
      }

    #banner:after {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      -moz-transition: opacity 3s ease-in-out;
      -webkit-transition: opacity 3s ease-in-out;
      -ms-transition: opacity 3s ease-in-out;
      transition: opacity 3s ease-in-out;
      -moz-transition-delay: 1.25s;
      -webkit-transition-delay: 1.25s;
      -ms-transition-delay: 1.25s;
      transition-delay: 1.25s;
      content: '';
      background: #2e3842;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    @media screen and (max-width: 736px) {

      #banner {
        padding: 7em 3em 5em 3em ;
        height: auto;
        min-height: 0;
      }

        #banner h2 {
          font-size: 1.25em;
        }

        #banner br {
          display: none;
        }

        #banner .more {
          display: none;
        }

    }

  body.is-loading #banner h2 {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }

    body.is-loading #banner h2:before, body.is-loading #banner h2:after {
      width: 0;
    }

  body.is-loading #banner .more {
    -moz-transform: translateY(8.5em);
    -webkit-transform: translateY(8.5em);
    -ms-transform: translateY(8.5em);
    transform: translateY(8.5em);
    opacity: 0;
  }

  body.is-loading #banner:after {
    opacity: 1;
  }

/* CTA */

  #cta .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 45em;
  }

    #cta .inner header {
      -moz-order: 1;
      -webkit-order: 1;
      -ms-order: 1;
      order: 1;
      padding-right: 3em;
      width: 70%;
    }

      #cta .inner header p {
        color: inherit;
      }

    #cta .inner .actions {
      -moz-order: 2;
      -webkit-order: 2;
      -ms-order: 2;
      order: 2;
      width: 30%;
    }

    @media screen and (max-width: 980px) {

      #cta .inner {
        display: block;
        text-align: center;
      }

        #cta .inner header {
          padding-right: 0;
          width: 100%;
        }

        #cta .inner .actions {
          margin-left: auto;
          margin-right: auto;
          max-width: 20em;
          width: 100%;
        }

    }

    @media screen and (max-width: 736px) {

      #cta .inner .actions {
        max-width: none;
      }

    }

/* Main */

  #main > header {
    padding: 12em 0 10em 0 ;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

    #main > header h2 {
      font-size: 1.75em;
      margin: 0 0 0.5em 0;
    }

    #main > header p {
      color: inherit;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      top: 0;
    }

      #main > header p a {
        color: inherit;
      }

    @media screen and (max-width: 1680px) {

      #main > header {
        padding: 10em 0 8em 0 ;
      }

    }

    @media screen and (max-width: 1280px) {

      #main > header {
        padding: 8em 3em 6em 3em ;
      }

    }

    @media screen and (max-width: 980px) {

      #main > header {
        padding: 10em 3em 8em 3em ;
      }

    }

    @media screen and (max-width: 736px) {

      #main > header {
        padding: 5em 3em 3em 3em ;
      }

        #main > header h2 {
          font-size: 1.25em;
          margin: 0 0 1em 0;
        }

    }

  body.is-mobile #main > header {
    background-attachment: scroll;
  }

/* Footer */

  #footer {
    padding: 6em 0 4em 0 ;
    background-color: #1d242a;
    text-align: center;
  }

    #footer .icons {
      font-size: 1.25em;
    }

      #footer .icons a {
        color: rgba(255, 255, 255, 0.5);
      }

        #footer .icons a:hover {
          color: #fff;
        }

    #footer .copyright {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8em;
      letter-spacing: 0.225em;
      list-style: none;
      padding: 0;
      text-transform: uppercase;
    }

      #footer .copyright li {
        border-left: solid 1px rgba(255, 255, 255, 0.5);
        display: inline-block;
        line-height: 1em;
        margin-left: 1em;
        padding-left: 1em;
      }

        #footer .copyright li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }

        #footer .copyright li a {
          color: inherit;
        }

          #footer .copyright li a:hover {
            color: #fff;
          }

        @media screen and (max-width: 480px) {

          #footer .copyright li {
            border: 0;
            display: block;
            line-height: 1.65em;
            margin: 0;
            padding: 0.5em 0;
          }

        }

    @media screen and (max-width: 980px) {

      #footer {
        padding: 4em 3em 2em 3em ;
      }

    }

    @media screen and (max-width: 736px) {

      #footer {
        padding: 3em 2em 1em 2em ;
      }

    }

/* Landing */

  body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
  }

  body.landing #footer {
    background-color: rgba(29, 36, 42, 0.9);
  }

  body.is-mobile.landing #page-wrapper {
    background: none;
  }

  body.is-mobile.landing #banner,
  body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body.is-mobile.landing #footer {
    background-color: #1d242a;
  }