.creditly-wrapper {
    background:rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: white;
}
.creditly-wrapper .credit-card-wrapper {
    padding: 30px 30px;
    box-shadow: 0px 0px 12px 0px #040404;
}
.creditly-wrapper input.has-error {
  outline: none;
  border-color: #ff7076;
  border-top-color: #ff5c61;

}
.creditly-wrapper .form-control {
    display: block;
    width: 94%;
    padding: 12px 12px;
    font-size: 14px;
    color: #FFF !important;
    background: rgba(0, 0, 0, 0.43);
    border: 1px solid #ccc;
    margin-bottom: 25px;
}
.creditly-wrapper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.creditly-wrapper label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    color:#FFFFFF;
    font-size: 15px;
}
.creditly-wrapper .form-group {
  width: 100%;
  display: table;
}
.creditly-wrapper .card-type {
  margin-top: 10px;
}
.creditly-card-form .submit {
  overflow: hidden;
  display: inline-block;
  visibility: visible!important;
  -webkit-font-smoothing: antialiased;
  border: none;
  padding: 1px;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.creditly-card-form .submit span {
    display: block;
    position: relative;
    padding: 9px 23px;
    background: #B37B13;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.creditly-card-form .submit span:hover{
	background: #1F76D2;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}